extends basic-template

block content
  div(class="center")
    div
      img(src=monster.imageURL, class="inline")
      div(class="inline") You're fighting a #{monster.name}
    br
    div #{userAttackText}
    br
    if monsterAttackText
      div #{monsterAttackText}
      br
      div
        a(href="/map?locationID=" + locationID) Attack!
      br
      div
        a(href="run") Run!
    if !monsterAttackText
      div(class="combat-row-15") You win the fight!
      div(class="combat-row-15")
        each item in battleConsequences['items']
          div
          | You acquire an item:
          |
          strong #{item}
      div(class="combat-row-15") You gain #{battleConsequences['money']} Money
      div(class="combat-row-15") You gain #{battleConsequences['exp']} experience
      br
      div
        a(href="/map?locationID=" + locationID) Adventure Again
